<div class="box">
<%= link_to (image_tag pattern.image (:medium)), pattern %>
<p class="description">
<%= pattern.description %>
</p>

<% if current_user == pattern.user %>
    <p>
	<%= link_to 'Edit', edit_pattern_path(pattern) %>
	<%= link_to 'Destroy', pattern, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
</div>