<h1>Listing patterns</h1>

<table class="table table striped">
 <thead>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
    <%= render @patterns %>
</tbody>
</table>

<br />

<%= link_to 'New Pattern', new_pattern_path %>
